@font-face {
    font-family: 'TuborgGrotesque-Bold';
    src: url('./fonts/TuborgGrotesque-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'TuborgGrotesque-Regular';
    src: url('./fonts/TuborgGrotesque-Regular.otf') format('truetype');
}

body {
    font-family: TuborgGrotesque-Bold, TuborgGrotesque-Regular !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #000000, #8BC53F) !important;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    flex: 1 0 auto; /* Allow the content to grow and take available space */
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: auto; /* Maintain aspect ratio */
    margin-top: 55%;
}

.loading-image {
    margin-bottom: 10px; /* Add some space below the image */
}

.header {
    display: flex;
    background-color: #2B2E34;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.header img {
    max-width: 348px;
}

.people, .uncool, .angel, .prize {
    display: flex;
    background-color: #8BC53F;
    color: white !important;
    padding: 30px;
}

.prize {
    background-image: url("./images/prize.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: 100% auto;
    background-position: top;
    background-color: #2B2E34;
}

.container {
    text-align: center;
}

.no-margin {
    margin: 0 !important;
}

.friend-input, .email-input {
    text-align: center;
    background-color: #8BC53F !important;
    color: white !important;
    border-color: #2B2E34 !important;
    margin: 3px;
}

.email-input {
    margin-top: 80px;
    margin-bottom: 80px;
}

.friend-input::placeholder {
    color: white #eeeeee !important;
}

.with-margin {
    margin-top: 20px !important;
}

.uncool-friend-add-btn {
    background-color: #2B2E34 !important;
    border: 0 !important;
    color: #8BC53F !important;
}

.uncool-friend-pick-btn, .get-prize-btn, .send-btn {
    background-color: #D8EBBE !important;
    border: 0 !important;
    color: black !important;
    text-transform: uppercase;
}

.uncool-friend-heading {
    color: black !important;
    appearance: uppercase;
    font-weight: bold;
}

.angel-friend-heading-1 {
    color: #474746 !important;
    font-size: 1.5rem;
}

.angel-friend-heading-2 {
    color: white !important;
    font-size: 2.5rem;
    font-weight: bold;
}

.angel-friend-heading-3 {
    color: #474746 !important;
    font-size: 1rem;
    font-family: 'TuborgGrotesque-Regular';
}

.angel-friend-heading-4 {
    color: white !important;
    font-size: 1.2rem;
    font-weight: bold;
}

.angel-friend-heading-5 {
    color: #D8EBBE !important;
    font-size: 1rem;
    font-weight: normal !important;
    text-transform: uppercase;
    font-family: 'TuborgGrotesque-Regular';
}

.send-email-heading {
    margin-top: 30px !important;
}

.angel-friend {
    background-color: white;
    color: #8BC53F;
    font-weight: bold;
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Ensure the height is equal to the width */
    border-radius: 50%; /* Make the div a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa; /* Background color for visibility */
    margin: 0 auto; /* Center the circle horizontally */
    font-size: 1.5rem; /* Adjust the font size as needed */
    text-align: center; /* Center the text */
    text-transform: uppercase; /* Uppercase the text */   
}

.footer {
    flex-shrink: 0; /* Prevent the footer from shrinking */
    text-align: center;
    margin-bottom: 1.5rem;
}

.footer-logo {
    max-width: 50px; /* Adjust the width as needed */
}